body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(5, 5, 56);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  padding: 0 50px;
  background: white;
  border-bottom: 1px solid#ebecf0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
}

#header #logo-holder {
  width: 25%;
}

#header #nav {
  margin: 0px;
  width: 75%;
  text-align: right;
}

#header #nav a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  line-height: 20px;
}

#header #nav a:hover {
  background-color: rgb(248, 248, 248) ;
}

#header #nav a.blue-background {
  background-color: rgb(20, 45, 84) ;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
  margin-left: 20px;
}

.section {
  border-top: 1px solid#ebecf0;
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#home {
  border : 0px;
  overflow: hidden;
}

#home > div {
  width: 50%;
  height: 100%;
}
/*
#about-us {
 // margin-top: 100px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
*/

#infrastructure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#infrastructure .text-div {
  width: 40%; 
  padding: 10px 50px;
  line-height: 200%;
}

#infrastructure .icons-div {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

#infrastructure .infra-icon {
  display: block;
  text-align: center;
  border: 1px solid rgb(0, 0, 110);
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
  margin: 30px;
}

#infrastructure .infra-icon:hover {
  background-color: #f6f6fa;
  border: 2px solid rgb(0, 0, 110);
  margin: 29px;
}

#infrastructure .infra-icon img {
  display: block;
  padding: 30px;
  width: 150px;
  height: 150px;
}

#infrastructure .infra-icon span {
  font-size: 18px; 
  color: rgb(0, 0, 110);
}

#register {
  border : none;
}

.textbox {
  margin: 8px 0px;
  padding: 15px;
  border: 1px solid #e9e9e9;
  outline: none;
  font-size : 15px;
  color: rgb(5, 5, 56);
  font-family: 'Roboto Condensed', sans-serif;
}
.textbox:focus {
  border: 1px solid rgba(28, 66, 126, 0.342);
  //-webkit-box-shadow: inset 0px 0px 40px -18px rgba(116,133,156,1);
  //-moz-box-shadow: inset 0px 0px 40px -18px rgba(116,133,156,1);
  //box-shadow: inset 0px 0px 40px -18px rgba(116,133,156,1);
}
.button {
  border-radius: 15px;
  background-color: rgb(20, 45, 84);
  padding: 10px 15px;
  outline : none;
  color: white;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  border: 1px solid rgb(24, 46, 82);
}
.button:active {
  background-color: rgb(73, 89, 117);

}