@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(5, 5, 56);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  padding: 0 50px;
  background: white;
  border-bottom: 1px solid#ebecf0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
}

#header #logo-holder {
  width: 25%;
}

#header #nav {
  margin: 0;
  width: 75%;
  text-align: right;
}

#header #nav a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  line-height: 20px;
}

#header #nav a:hover {
  background-color: rgb(248, 248, 248) ;
}

#header #nav a.blue-background {
  background-color: #204584;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
  margin-left: 20px;
}

.section {
  border-top: 1px solid#ebecf0;
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#home {
  border : 0px;
  overflow: hidden;
}

#home > div {
  width: 50%;
  height: 100%;
}

#infrastructure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#infrastructure .text-div {
  width: 40%; 
  padding: 10px 50px;
}

#infrastructure .icons-div {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

#infrastructure .infra-icon {
  text-align: center;
  border: 1px solid rgb(0, 0, 110);
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
  margin: 30px;
}

#infrastructure .infra-icon img {
  display: block;
  padding: 30px;
  width: 150px;
  height: 150px;
}

#infrastructure .infra-icon span {
  font-size: 18px; 
  color: rgb(0, 0, 110);
}

#contact-us {
  background-color: white;
}

#contact-us-card{
  width: 60vw;
  height: 30vw;
  background-color: #FFFFFF;
  position: absolute;
  left: 30%;
  top: 30%;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#contact-us-heading{
  position: absolute;
  top: 3vw;
  left: 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5vw;
  color: #616161;
}

.contactgroupheading {
  font-size: 2vw;
  color: #616161;
}

#address {
  position: absolute;
  left: 3vw;
  top: 12vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;
}

#phone-number {
  position: absolute;
  left: 3vw;
  top: 20vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;

}

#email-id {
  position: absolute;
  left: 30vw;
  top: 12vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;
}

#socialbox {
  position: absolute;
  left: 57vw;
  top: 7vw;
}

.fab-circle {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: #FF0000;
  margin: 1vw;
  position: relative;
}

.fab-circle i{
  margin: auto;
}
