@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Arvo:700');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(5, 5, 56);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  padding: 0 50px;
  background: white;
  border-bottom: 1px solid#ebecf0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
}

#header #logo-holder {
  width: 25%;
}

#header .nav {
  margin: 0px;
  width: 75%;
  text-align: right;
}

#header .nav a, #mobile-menu a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  line-height: 20px;
}

#header .nav a:hover {
  background-color: rgb(248, 248, 248) ;
}

#header .nav a.blue-background {
  background-color: #204584;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
  margin-left: 20px;
}

#header #nav-mobile {
  display: none;
}

#mobile-menu {
  background-color: rgb(255, 255, 255);
  position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#mobile-menu a {
  user-select: none;
  padding: 5px 15px;
  border-radius: 15px;
  line-height: 20px;
  margin: 8px;
}

#mobile-menu a:hover {
  background-color: rgb(248, 248, 248) ;
}

#mobile-menu a.blue-background {
  color: white;
  background-color: #204584;
}

.section {
  border-top: 1px solid#ebecf0;
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 75px 0px 50px 0px;
}

#home {
  border : 0px;
  overflow: hidden;
}

#home > div {
  width: 50%;
  height: 100%;
}

#home .home-text {
  padding: 10px 50px;
}

#about .about-text {
  width: 50%; 
  padding: 10px 50px;
}

#about .about-img {
  text-align: center;
  width: 50%; 
  padding: 10px 50px 10px 0px;
}

#about .about-img img {
  width: 100%; 
  height: auto; 
  opacity: 0.8; 
  border: 25px solid #f6f6fa;
}

#infrastructure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#infrastructure .text-div {
  width: 40%;
  padding: 10px 50px;
  line-height: 200%;
}

#infrastructure .icons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

#infrastructure .infra-icon {
  display: block;
  text-align: center;
  border: 1px solid rgb(0, 0, 110);
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
  margin: 30px;
}

#infrastructure .infra-icon:hover {
  background-color: #f6f6fa;
  border: 2px solid rgb(0, 0, 110);
  margin: 29px;
}

#infrastructure .infra-icon img {
  display: block;
  padding: 30px;
  width: 150px;
  height: 150px;
}

#infrastructure .infra-icon span {
  font-size: 18px;
  color: rgb(0, 0, 110);
}

.messagebox {
  width: 50%; 
  margin: 50px 30px;
}

.messagebox .title-bar {
  height: 50px; 
  background-color: #204584; 
  color: white;
  font-family: 'Roboto Condensed', sans-serif; 
  font-weight: 300; 
  font-size: 25px; 
  text-align: right; 
  padding: 0px 30px; 
  line-height: 50px;
}

.messagebox .content {
  display: flex; 
  flex-direction: row;
}

.messagebox .content .text {
  width: 100%;
  background-color: #eaeaea; 
  padding: 40px;
}

.messagebox .content .img-div {
  width: 320px; 
  padding-top: 40px; 
  background-color: #d1d3d4;
}


#register {
  border : none;
}

/* Styling for input elements. As this styling will be consistent across the entire website, it
  will make sense to move it to a new `input.css`, down the line.
*/
.textbox {
  margin: 8px 0px;
  padding: 15px;
  border: 1px solid #e9e9e9;
  outline: none;
  font-size : 15px;
  color: rgb(5, 5, 56);
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 6px;
}
.textbox:focus {
  border: 1px solid rgba(28, 66, 126, 0.342);
}

.button {
  border-radius: 6px;
  background-color: rgb(20, 45, 84);
  padding: 10px 15px;
  outline : none;
  color: white;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px; font-weight: 300;
  border: 1px solid rgb(24, 46, 82);
}
.button:active {
  background-color: rgb(73, 89, 117);
}
/* ------------------------------ */


.complete-page-overlay {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.6);
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete-page-overlay.hidden {
  display : none;
}

.form-box {
  border-radius: 6px;
  background-color: #f6f6fa;
  border: 1px solid rgb(156, 156, 156);
}

.form-box .close-bar {
  border-radius: 6px;
  text-align: right;
  padding: 0px 30px;
  height: 60px;
  background-color: white;
  line-height: 70px;
  font-size: 25px;
  color: rgb(189, 189, 189);
}

.form-box .close-bar a:hover{
  color: rgb(20, 45, 84);
}

.form-box.login-box {
  width: 550px;
  height: 500px;
}

/*
  CSS for tabs. I want to make it generic down the line. I guess, I will be shifting the CSS & JS for tabs
  to separte files - `tabs.css` & `tabs.js`.
*/
.tab-bar {
  height: 60px;
  background-color: white;
  border-radius: 6px;
}

.tab-bar .tab {
  height: 100%;
  width: 50%;
  float:left;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(123, 126, 129);
  border-bottom: 1px solid #ebecf0;
  cursor: pointer;
}

.tab-bar .tab.active {
  border-bottom: 2px solid rgb(20, 45, 84);
  color : rgb(20, 45, 84);
  cursor: default;
}
/* End CSS for tabs */

#contact-us {
  background-color: white;
  background-image: url('../img/contact-us-background.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

#contact-us-card{
  width: 55vw;
  height: 30vw;
  background-color: #FFFFFF;
  position: absolute;
  left: 35vw;
  top: 15vw;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#contact-us-heading{
  position: absolute;
  top: 3vw;
  left: 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5vw;
  color: #616161;
}

.contactgroupheading {
  font-size: 2vw;
  color: #616161;
}

#address {
  position: absolute;
  left: 3vw;
  top: 12vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;
}

#phone-number {
  position: absolute;
  left: 3vw;
  top: 20vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;

}

#email-id {
  position: absolute;
  left: 30vw;
  top: 12vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;
}

#socialbox {
  position: absolute;
  left: 27vw;
  top: 19vw;
}

.fab-circle {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  float: left;
}

.fab-circle i{
  margin: auto;
  font-size: 2.3vw;
}

#twitter-fab{
  background-color: #00BCD4;
  color: #FFFFFF;
}

#facebook-fab{
  background-color: #1565C0;
  color: #FFFFFF;
}

#mail-fab{
  background-color: #8BC34A;
  color: #FFFFFF;
}

#google-fab{
  background-color: #F44336;
  color: #FFFFFF;
}

#twitter-fab:hover{
  background-color: #FFFFFF;
  color: #00BCD4;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#facebook-fab:hover{
  background-color: #FFFFFF;
  color: #1565C0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#mail-fab:hover{
  background-color: #FFFFFF;
  color: #8BC34A;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#google-fab:hover{
  background-color: #FFFFFF;
  color: #F44336;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#chartdiv {
  width: 100%;
  height: 500px;
}

#placement-detail-1 {
  border: 1px solid #204584 ;
  width: 40vw;
  height: 60vh;
  padding: 0 0;
  margin: 0;
  border-radius: 5px;
}

#placement-detail-1 tbody{
  width: 100%;
  height: 100%;
}

#placement-synopsis {
  padding : 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#placement-chart {
  width: 30vw;
  padding: 20px 20px;
}

#placement-record{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myChart{
  width: 70%;
  overflow: hidden;
}

#placement-detail-1 th, td {
  padding: 3px;
}


#tb1 caption{
  margin-bottom: 4vh;
  font-size: 25px;
  font-weight: none;
  text-align: center;
  background-color: #204584;
  color: white;
  padding: 7px;
  text-transform: uppercase;
  width: 100%;
}

#slider figure img{
    max-height: 80px;
    margin: 30px;
}

#slider figure{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

.column1 {
  width: 66%;
  padding-left: 10%;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.column2 {
  width: 22%;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.column3 {
  width: 1%;
}

.table100-body td {
  padding-top: 5px;
  padding-bottom: 10px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  height: 100%;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  height: 100%;
  overflow: hidden;
  padding: 0;
}


.table100.ver5 td {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(5, 5, 56);
  font-size: 15px;
  background-color: #f7f7f7;
  height: 5vh;
}

.table100.ver5 .table100-body tr {
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-radius: 10px;
}

.table100.ver5 .table100-body table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
.table100.ver5 .table100-body td {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table100.ver5 .table100-body td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table100.ver5 .table100-body td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table100.ver5 tr:hover td {
  background-color: #ebebeb;
  cursor: pointer;
}


/*---------------------------------------------*/

.table100.ver5 {
  overflow: hidden;
}

.table100.ver5 .ps__rail-y {
  right: 0px;
}

.table100.ver5 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver5 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

.js-pscroll {
  position: relative;
  overflow: auto;
}


#footer {
  width: 100%;
  height: 35vw;
  background-color: #181B3A;
  display: flex;
  position: relative;
  justify-content: center;
}

#footer-container-up {
  width: 60vw;
  height:10vw;
  border-bottom: 1px solid #757575;
  position: relative;
}

#footer-heading {
  font-family: 'Arvo', serif;
  font-size: 2.7vw;
  color: #FFFFFF;
  position: absolute;
  left: 0vw;
  top: 3vw;
}

#footer-button {
  width: 10vw;
  height: 2.8vw;
  display: flex;
  background-color: #2962FF;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1vw;
  align-items: center;
  justify-content: center;
  color: #F0F0F0;
  border-radius: 1.4vw;
  position: absolute;
  left: 50vw;
  top: 3.2vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
}

#footer-input {
  width: 17vw;
  height: 2.8vw;
  display: flex;
  background-color: #FFFFFF;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1vw;
  align-items: center;
  justify-content: center;
  color: #616161;
  border-radius: 1.4vw;
  position: absolute;
  left: 30vw;
  top: 3.2vw;
  padding: 1vw;
  outline: none;
  border: none;
}

#footer-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E0E0E0;
}
#footer-input::-moz-placeholder { /* Firefox 19+ */
  color: #E0E0E0;
}
#footer-input:-ms-input-placeholder { /* IE 10+ */
  color: #E0E0E0;
}
#footer-input:-moz-placeholder { /* Firefox 18- */
  color: #E0E0E0;
}

#footer-input:focus {
  border: 2px solid blue;
}

#footer-container-down {
  position: absolute;
  width: 80vw;
  height: 25vw;
  top: 10vw;
}

#footer-address {
  width: 10vw;
  position: absolute;
  color: #FFFFFF;
  left: 34vw;
  top: 5vw;
}

#footer-quick-links {
  width: 10vw;
  position: absolute;
  color: #FFFFFF;
  left: 46vw;
  top: 5vw;
}

#footer-explore {
  width: 10vw;
  position: absolute;
  color: #FFFFFF;
  left: 58vw;
  top: 5vw;
}

#footer-contact-us {
  width: 10vw;
  position: relative;
  color: #FFFFFF;
  left: 70vw;
  top: 5vw;
}

.footer-subsection-heading {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1.3vw;
  color: #FFFFFF;
  letter-spacing: 0.08vw;
}

.footer-subsection-text {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 0.85vw;
  padding-top: 0.5vw;
  color: #757575;
  line-height: 1.5vw;
}

#footer-credits {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 0.8vw;
  color: #757575;
  position: absolute;
  bottom: 1.5vw;
}

#footer-icons {
  font-size: 1.3vw;
  color: #757575;
  padding-top: 2vw;
}

#footer-icons>i {
  padding: 0.2vw;
}

#footer-logo {
  position: absolute;
  width: 15vw;
  background-image: url('../img/footer-logo.svg');
  height: 10vw;
  background-repeat: no-repeat;
  top: 15vw;
  left: 10vw;
  background-size: contain;
}

@media only screen and (max-width:1000px) {
  #header #nav {
    display: none;
  }

  #header #nav-mobile {
    display: block;
  }
  
  #placement-synopsis {
    flex-direction: column;
  }

  #placement-detail-1{
    width: 80%;
  }
  
  #about {
    flex-direction: column-reverse;
  }

  #about .about-text {
    width: 100%; 
  }
  
  #about .about-img {
    width: 100%; 
    padding: 10px 30px;
  }

  #infrastructure {
    flex-direction: column;
  }

  #infrastructure .text-div {
    width: 100%;
    padding: 10px 50px;
    line-height: 200%;
  }
  
  #infrastructure .icons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  #message {
    flex-direction: column;
  }

  .messagebox {
    width: 92%;
  }

  #placement-detail-1 {
    height: 62.433vh;
  }

  #placement-chart {
    width: 70vw;
    padding: 10px 10px;
  }

}

@media only screen and (max-width: 600px) {
  #header {
    height: 60px;
    padding: 0px 20px;
  }

  #home {
    flex-direction: column;
  }

  #home .home-text {
    padding: 10px 25px;
  }

  #home > div {
    width: 100%;
  }

  .messagebox .title-bar {
    height: auto;
  }

  #slider figure img {
    max-height: 35px;
    margin: 15px 10px;
  }

  #about .about-img {
    width: 100%; 
    padding: 10px 10px;
  }

  #about .about-img img {
    border: 15px solid #f6f6fa;
  }

  #placement-detail-1 {
    height: 70vh;
  }

}