@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(5, 5, 56);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  padding: 0 50px;
  background: white;
  border-bottom: 1px solid#ebecf0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
}

#header #logo-holder {
  width: 25%;
}

#header #nav {
  margin: 0px;
  width: 75%;
  text-align: right;
}

#header #nav a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  line-height: 20px;
}

#header #nav a:hover {
  background-color: rgb(248, 248, 248) ;
}

#header #nav a.blue-background {
  background-color: #204584;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
  margin-left: 20px;
}

.section {
  border-top: 1px solid#ebecf0;
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#home {
  border : 0px;
  overflow: hidden;
}

#home > div {
  width: 50%;
  height: 100%;
}

#infrastructure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#infrastructure .text-div {
  width: 40%; 
  padding: 10px 50px;
  line-height: 200%;
}

#infrastructure .icons-div {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

#infrastructure .infra-icon {
  display: block;
  text-align: center;
  border: 1px solid rgb(0, 0, 110);
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
  margin: 30px;
}

#infrastructure .infra-icon:hover {
  background-color: #f6f6fa;
  border: 2px solid rgb(0, 0, 110);
  margin: 29px;
}

#infrastructure .infra-icon img {
  display: block;
  padding: 30px;
  width: 150px;
  height: 150px;
}

#infrastructure .infra-icon span {
  font-size: 18px; 
  color: rgb(0, 0, 110);
}

#register {
  border : none;
}

.textbox {
  margin: 8px 0px;
  padding: 15px;
  border: 1px solid #e9e9e9;
  outline: none;
  font-size : 15px;
  color: rgb(5, 5, 56);
  font-family: 'Roboto Condensed', sans-serif;
}
.textbox:focus {
  border: 1px solid rgba(28, 66, 126, 0.342);
  //-webkit-box-shadow: inset 0px 0px 40px -18px rgba(116,133,156,1);
  //-moz-box-shadow: inset 0px 0px 40px -18px rgba(116,133,156,1);
  //box-shadow: inset 0px 0px 40px -18px rgba(116,133,156,1);
}
.button {
  border-radius: 15px;
  background-color: rgb(20, 45, 84);
  padding: 10px 15px;
  outline : none;
  color: white;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  border: 1px solid rgb(24, 46, 82);
}
.button:active {
  background-color: rgb(73, 89, 117);

}

#contact-us {
  background-color: white;
  background-image: url('../img/contact-us-background.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

#contact-us-card{
  width: 55vw;
  height: 30vw;
  background-color: #FFFFFF;
  position: absolute;
  left: 35vw;
  top: 15vw;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#contact-us-heading{
  position: absolute;
  top: 3vw;
  left: 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5vw;
  color: #616161;
}

.contactgroupheading {
  font-size: 2vw;
  color: #616161;
}

#address {
  position: absolute;
  left: 3vw;
  top: 12vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;
}

#phone-number {
  position: absolute;
  left: 3vw;
  top: 20vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;

}

#email-id {
  position: absolute;
  left: 30vw;
  top: 12vw;
  width: 25vw;
  height: 6vw;
  font-size: 1vw;
}

#socialbox {
  position: absolute;
  left: 27vw;
  top: 19vw;
}

.fab-circle {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  float: left;
}

.fab-circle i{
  margin: auto;
  font-size: 2.3vw;
}

#twitter-fab{
  background-color: #00BCD4;
  color: #FFFFFF;
}

#facebook-fab{
  background-color: #1565C0;
  color: #FFFFFF;
}

#mail-fab{
  background-color: #8BC34A;
  color: #FFFFFF;
}

#google-fab{
  background-color: #F44336;
  color: #FFFFFF;
}

#twitter-fab:hover{
  background-color: #FFFFFF;
  color: #00BCD4;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#facebook-fab:hover{
  background-color: #FFFFFF;
  color: #1565C0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#mail-fab:hover{
  background-color: #FFFFFF;
  color: #8BC34A;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#google-fab:hover{
  background-color: #FFFFFF;
  color: #F44336;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

#chartdiv {
  width: 100%;
  height: 500px;
} 

#placement-detail-1 {
  border: 1px solid #204584 ;
  width: 40vw;
  height: 50vh;
  padding: 0 0;
  padding-bottom: 20px;
  margin: 0;
  border-radius: 5px;
}

#placement-detail-1 tbody{
  width: 100%;
  height: 100%;
}

#placement-synopsis {
  padding : 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#placement-chart {
  width: 30vw;
  padding: 20px 20px;
}

#placement-record{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myChart{
  width: 70%;
  overflow: hidden;
}

#placement-detail-1 th, td {
  padding: 3px;
}